---
import { Picture } from "@astrojs/image/components";
import heroImage from "assets/bg.jpg";
import Link from "@components/ui/link.astro";
import { Icon } from "astro-icon";
---

<main
  class="grid lg:grid-cols-2 place-items-center pt-16 pb-8 md:pt-12 md:pb-12">
  <div>test</div>
</main>
